.nav-tabs {
    overflow-y: hidden;
    overflow-x: overlay;
    flex-wrap: nowrap;
    border-bottom: none;
}

.nav-tabs .nav-item.active {
    font-weight: 500;
    border-top: 2px solid $primary-light;
}

.nav-tabs .nav-item {
    max-width: 250px;
    margin-bottom: 0;
}

.nav-tabs .nav-add-tab,
.nav-tabs .btn-close-tab {
    color: #d1d1d1;
}

.nav-tabs .btn-close-tab:hover {
    color: grey;
}

.tab-content {
    background: white;
    margin-top: -1px;
    border-top: 1px solid #dee2e6; 
}

.nav-tabs .nav-item .tab-title {
    overflow: hidden;
}

.nav-tabs .nav-item .title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-tabs .nav-item .tab-title .badge {
    font-size: 0.65rem;
    transition: none;
}

// Scrollbar

.nav-tabs::-webkit-scrollbar {
    height: 6px;
}

.nav-tabs::-webkit-scrollbar-thumb {
    background: #cccccc50;
}

.nav-tabs::-webkit-scrollbar-thumb:active {
    background-color: #cccccc80;
}
  
.nav-tabs::-webkit-scrollbar-thumb:hover {
    background: #cccccc80;
}