@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navbar.navbar-main {
    border-bottom: 3px solid $primary-light;
}

.navbar .navbar-brand {
    font-family: 'Righteous', cursive;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.navbar .nav-link:focus {
    color: white !important;
}