body {
    background: #FAFAFA !important;
    height: 100%;
    overflow-y: overlay;
}

html {
    height: 100%;
}

.main-content {
    margin-top: 64px;
}

// Scrollbar

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}